body {
   font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

#result-list {
    font-family: 'Raleway', sans-serif;
}

div.topdiv {
    width: 100%;
    height: 150px;
    padding-top: 5px;
    background-color: #353535;
}

#title-banner {
    color: white;
}

#query-label {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.txt-center {
    text-align: center;
}
