body {
   font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

#result-list {
    font-family: 'Playfair Display', sans-serif;
    list-style: none;
}

#result-list li {
    padding-bottom: 20px;
    font-size: 23px;
}

#result-list a {
    text-decoration: none;
    color: black;
    transition: background 0.1s linear;
    border-radius: 10px;
}

#result-list a:hover {
    background-color: #e3dfdf;
    border-radius: 10px;
}

div.topdiv {
    width: 100%;
    height: 150px;
    padding-top: 5px;
    background-color: #353535;
    border-radius: 10px;
}

#title-banner {
    color: white;
}

#query-label {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.txt-center {
    text-align: center;
}
